<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="WARN" />
  <logger name="org.springframework.boot" level="WARN" />
  <logger name="org.springframework.context" level="WARN" />
  <logger name="org.springframework.test" level="WARN" />
  <logger name="org.springframework.web" level="WARN" />
  <logger name="org.hibernate" level="WARN" />
  <logger name="org.hibernate.SQL" level="OFF" />
  <logger name="org.flywaydb" level="ERROR" />
  <logger name="org.flywaydb.core.internal.database.base.Database" level="ERROR" />
  <logger name="com.zaxxer.hikari" level="WARN" />
  <logger name="com.asecon.enterpriseiq" level="INFO" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
